@import url("https://fonts.googleapis.com/css?family=Pacifico|Raleway");

* {
  margin: 0;
  padding: 0;
  color: #222222;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #fbc915;
}

.title {
  font-family: "Pacifico", cursive;
}

.greeting .title {
  font-size: 45px;
}

.work .title,
.contact .title {
  font-size: 35px;
}

.main {
  padding: 10%;
}

.greeting {
  padding-top: 10%;
  font-size: 25px;
}

.work,
.contact {
  padding-top: 40px;
}

.link {
  text-decoration: none;
  padding-left: 5px;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: #ee4e24;
}

.navigation li {
  display: inline-block;
  margin: 15px;
  position: relative;
  cursor: pointer;
}

.navigation li a {
  text-decoration: none;
}

.navigation li:first-child {
  margin-left: 0px;
}

.navigation ul {
  display: flex;
  align-items: flex-start;
  list-style-type: none;
}

.navigation .active {
  border-bottom: solid;
  padding-bottom: 9px;
  font-weight: 900;
}

.navigation .active::before {
  content: "*";
  color: #ee4e24;
  position: absolute;
  bottom: -18px;
  left: 11px;
  font-size: 70px;
  z-index: -1000;
}

.social-links {
  display: flex;
  padding-top: 60px;
}

.social-links .social-icon {
  height: 30px;
  padding-right: 25px;
}

svg {
  fill: #ee4e24 !important;
}

.hat {
  height: 30px;
}

@media screen and (max-width: 600px) {
  .navigation ul {
    justify-content: center;
    background-color: #ee4e24;
  }

  .main {
    margin: auto;
    padding: 0;
  }

  .greeting,
  .social-links,
  .work,
  .contact {
    padding: 10%;
    font-size: 20px;
  }

  .greeting p {
    padding-bottom: 10px;
  }

  .title {
    text-align: center;
    font-size: 45px;
  }

  .social-links {
    justify-content: space-around;
    padding-top: 25px;
  }

  .work {
    text-align: center;
  }
}
